@import url('../../.cache/wal/colors-waybar.css');



* {
    border: none;
    border-radius: 10;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 14px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

#custom-website-status {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}


#custom-website-status:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#custom-playerinfo {
    margin-top: 8px;
}

#custom-cava {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#custom-cava:hover {
    color: @color1;
    background: alpha(@color15, .8);
}
#network {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#network:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#cava {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#cava:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#bluetooth {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#bluetooth:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#battery {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#battery:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#backlight:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#backlight {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}


#language {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#language:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#pulseaudio {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    padding: 8px;
    transition: 0.3s;
}

#pulseaudio:hover {
    background: alpha(@color15, .8);
    color: @color1;
}

#pulseaudio.muted {
    color: @color15;
    background: alpha(@background, .8);
    transition: 0.3s;
}

#pulseaudio.muted:hover {
    background: alpha(@color15, .8);
    color: @color1;
}

#clock {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#clock:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#disk {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#disk:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#privacy {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#idle_inhibitor {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#idle_inhibitor.activated {
    color: @color15;
    border-color: @color15;
}

#idle_inhibitor.activated:hover {
    background: alpha(@color15, .8);
    color: @color1;
    border-color: @color15;
}

#idle_inhibitor.deactivated {
    color: @color15
}

#idle_inhibitor.deactivated:hover {
    color: @color1;
    background: alpha(@color15, .8);
}

#memory {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#memory:hover {
    color: @color1;
    background: alpha(@color15, .8);

}

#cpu {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#cpu:hover {
    color: @color1;
    background: alpha(@color15, .8);

}

#custom-launcher {
    font-size: 20px;
    margin-top: 8px;
    margin-left: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: @color15;
    background: alpha(@background, .8);
    transition: 0.3s;
}

#custom-launcher:hover {
    background: alpha(@color15, .8);
    color: @color1;
}

#network.disconnected {
    color: #FF0000;
    background: alpha(@background, .8);
}

#network.disconnected:hover {
    background: alpha(#FF0000, .8);
    color: #FFFFFF;
}

#custom-power {
    font-size: 15px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 17px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#custom-power:hover {
    background: alpha(@color15, .8);
    color: @color1;

}

#workspaces {
    margin-top: 8px;
    margin-left: 8px;
    padding-right: 4px;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#workspaces button {
    color: @color15;
    transition: 0.3s;
}

#workspaces button:hover {
    color: @color15;
    background: alpha(@background, .0);
}

#tray {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}

#tray menu {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: alpha(@background, .8);
    color: @color15;
    transition: 0.3s;
}
